%h1 Listing images

%table
  %tr
    %th Name
    %th Description
    %th Image URL

  - @images.each do |image|
    %tr      
      %td= image.name
      %td= image.description
      %td= image.image_url
      %td= link_to 'Show', image
      %td= link_to 'Edit', [:edit, @imageable, image]
      %td= link_to 'Destroy', [@imageable, image], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Image', new_imageable_image_path 
